
<div class="row">
    <div class="col-md-6 offset-3">
        <h1 class="text-info">Aloha my friend, This road is closed. Click the home buttom to go home, or star at the screen.</h1>
        <hr />
        <a class="btn btn-outline-success" asp-controller="Movies" asp-action="Index">Home Page</a>
    </div>
</div>